#{extends 'main.html' /}
#{set title: 'View'/}

<p class="leagueName">${league.name}</p>

Active Tournaments:
<br />
#{list league.tournaments, as:'tournament'}
        <li>
            ${tournament}
        </li>
#{/list}

#{if isOwner}
<br />
<a href="@{Information.viewAllTournaments}">View</a> Tournaments to add to this League
<br />
*{#{form @Application.addTournamentToLeague(league.name)}}*
        *{}*
*{<label for="name">Tournament Name</label><input id="name" name="name" type="text"><input type="submit">}*
           *{}*
*{#{/form}}*

#{/if}

<br />

<table>
    <tr>
        <th>Member</th>
        <th>Points</th>
        #{if isOwner}
            <th>Remove</th>
        #{/if}

    </tr>
#{paginate.list items:league.members, as:'member'}
<tr>
<td>${member.username}</td>
<td>Score</td>
    #{if isOwner}
    <td>
    <a href="@{Application.removeUserFromLeague(member.username,league.name)}">Remove</a>
    </td>
    #{/if}
</tr>
#{/paginate.list}
</table>
#{paginate.controls /}
<br />
<p>Owner:</p>
${league.owner}

<p><a href="@{Application.joinLeague(league.name)}">Join</a></p>