#{form @TournamentAdmin.createTournament()}
    <label for="tournamentName">Tournament Name:</label>
    <input name="tournamentName" id="tournamentName" type="text">
<br/>
    <label for="numElimBrackets">Number of Elimination Brackets</label>
    <input name="numElimBrackets" id="numElimBrackets" type="text">
<br />
    <label for="numRobinBrackets">Number of Round Robin Brackets</label>
    <input name="numRobinBrackets" id="numRobinBrackets" type="text">
<br />
    <label for="startTime">This Tournament Starts at:</label>
    <input name="startTime" id="startTime" type="text">
<br />
    <input type="submit">
#{/form}