#{extends 'main.html' /}
#{set title:'Tournaments' /}

<br />

<div class="row">
    <div class="four columns">
        #{form @TournamentAdmin.processCreateTournament()}
            <label for="tournamentName">Tournament Name:</label>
            <input name="tournamentName" id="tournamentName" type="text">

            <label for="numElimBrackets">Number of Elimination Brackets</label>
            <input name="numElimBrackets" id="numElimBrackets" type="text">

            <label for="numRobinBrackets">Number of Round Robin Brackets</label>
            <input name="numRobinBrackets" id="numRobinBrackets" type="text">

            <input type="submit">
        #{/form}

    </div>
</div>
