<div class="row">
    <div class="two columns push-ten">
    #{if session.contains("username")}
        ${session.get("username")}  <a href="@{Application.logout()}">Logout</a><br />
        #{set isDashboard}#{get 'isDashboard' /}#{/set}
        #{if !isDashboard}
            <p><a href="@{Application.dashboard()}">Dashboard</a></p>
        #{/if}
    #{/if}
    #{else }
        <a href="@{Information.login()}">Login</a>
    #{/else}
    </div>

    <div class="two columns pull-ten">
        <a href="@{Application.dashboard()}">Dashboard</a>
    </div>
</div>