<div class="row">
    <div class="three columns centered">
        Sign in:
        #{form @Information.processlogin(),class:"form-vertical"}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
            <input class="btn btn-primary" type="submit">
        #{/form}

        <p><a href="@{Information.createUser()}">Create an account</a></p>
    </div>
</div>