#{extends 'main.html' /}
#{set title:'Home' /}
#{set isDashboard: true /}


<div class="row">
    <div class="six columns">
        <h1>Leagues</h1>

        <div class="row">
            <div class="five columns">
                <a href="@{Information.viewAllLeagues()}">View all </a>
            </div>
            <div class="six columns end">
                <a href="@{Application.createLeague()}">Create</a>
            </div>
        </div>

        <div class="row">
            <ul>
            #{list items:user.leagues, as:'league'}
                <li>
                    <a href="@{Information.viewLeague(league.name)}">${league.name}</a>
                </li>

            #{/list}
            </ul>
        </div>
    </div>

    <div class="four columns ">
        <h1>Tournaments</h1>
        <div class="row">
            <div class="twelve columns">
                #{if user.mayMakeTournaments}
                    <a href="@{Application.createTournament}">Create</a>
                #{/if}
            </div>
        </div>
        <div class="row">
            <ul>
                #{list items:tournaments, as:'tournament'}
                <li>
                    <a href="@{Information.viewTournament(tournaments.name)}">${tournament.name}</a>
                </li>
                #{/list}
            </ul>
        </div>
    </div>
</div>
